$component-name: 'c-create-user';

.#{$component-name} {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  &__title {
    font: $bold-medium;
  }

  &__error {
    color: $error;
  }

  &__link {
    font: $regular-small;
    color: $info-dark;

    &:hover {
      opacity: 0.7;
    }

    &:visited {
      color: $info-dark;
    }
  }

  .c-button {
    margin: 0.8rem 0;
  }
}
