$component-name: 'c-modal';

.#{$component-name} {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  & {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 48rem;
    background-color: $white;
    padding: 3.2rem;
    border-radius: $border-radius;
    box-shadow: $shadow;
    align-items: center;
  }

  &__message {
    font: $bold-medium;
    color: $dark-variant;
    text-align: center;
  }
}
